@import './variables.scss';

body {
    background-color: $color-black;
}

#canvas1 {
    background-color: $color-blue;
    position: absolute;
    border: 1.5px solid $color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
};

#playerImage, #backgroundImage, #enemyImage {
    display: none;
}
