body {
  background-color: black; }

#canvas1 {
  position: absolute;
  border: 1.5px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#playerImage, #backgroundImage, #enemyImage {
  display: none; }
